.stage-block{
    height: 30px;
    width: 100%;
    background-color: #2988b5;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: medium;
    color: white;
    margin:20px 0;
  }